* * * * * $HOME/.mutt/sync.sh "todo@fulso.me"
* * * * * $HOME/.mutt/sync.sh "brian@fulso.me"
* * * * * $HOME/.mutt/sync.sh "brian@fulsome.ca"
* * * * * $HOME/.mutt/sync.sh "brian.robertson@msscripting.com"
* * * * * $HOME/.mutt/sync.sh "raposa@msscripting.com"
* * * * * $HOME/.mutt/sync.sh "raposa.msscripting@gmail.com"
