priority 0

snippet #! "shebang" b
#!/bin/bash
endsnippet

snippet for "for loop" b
for ${1:i} in ${2:{1..5}}
do
	$0
done
endsnippet

snippet case "case" b
case ${1:$i} in
${2:*.jpg})
	${0:echo out}
	;;
*)
	exit 1
	;;
esac
endsnippet
